/EmsApplication.java

./controller/AttendanceController.java
./controller/EmployeeController.java
./controller/LeaveController.java

./entity/Attendance.java
./entity/Employees.java
./entity/Leave.java

./repository/AttendenceRepo.java
./repository/Employeerepo.java
./repository/LeaveRepo.java

./service/AttendanceService.java
./service/EmployeeService.java
./service/LeaveService.java